@import "tailwindcss";
:root {
  --background: #1E1E2E;
  --background-2: #1E1E21;
  --main-text: #EDEDF4;
  --second-text: #A6A6D2;    /* Color de texto principal */
  --secundary-color:#3B82F6;
  --highlighting-color:#FF3F81;
  --highlighting-color-2:#FDC82F;

}


@theme {
  --color-background: #1E1E2E;
  --color-background-2: #1E1E21;

  --color-main-text: #EDEDF4;
  --color-second-text: #A6A6D2;

  --color-primary: #3B82F6;
  --color-accent: #FF3F81;
  --color-accent-2: #FDC82F;
}


/*Clases custom */
@layer utilities {
/* Ejemplo de uso de crear la clase llamada typography
 .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
*/
}

body {
  background: var(--background);
}

/* Aplicar Poppins para los encabezados */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Alternar entre las fuentes */
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
