@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";



:root {
  --background: #1E1E2E;
  --background-2: #1E1E21;
  --main-text: #EDEDF4;
  --second-text: #A6A6D2;    /* Color de texto principal */
  --secundary-color:#3B82F6;
  --highlighting-color:#FF3F81;
  --highlighting-color-2:#FDC82F;

}


@theme {
  --color-background: #1E1E2E;
  --color-background-2: #1E1E21;

  --color-main-text: #EDEDF4;
  --color-second-text: #A6A6D2;

  --color-primary: #3B82F6;
  --color-accent: #FF3F81;
  --color-accent-2: #FDC82F;
}


/*Clases custom */
@layer utilities {
/* Ejemplo de uso de crear la clase llamada typography
 .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
*/
}

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: var(--background);
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  font-style: normal;
}

/* Aplicar Montserrat para los encabezados */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}